.modalContainer{
    margin: 0 auto;
    max-width: 40vw;
    border: 1px solid gray;
    background-color: gray;
    width:100%;
}
body{
    background-color: black;
}

.uploadBtn{
    position: absolute;
    top:20px;
    right: 260px;
    padding: 0px 40px;
}
.dropdown_container{
    position: absolute;
    top:20px;
    right: 110px;
    margin: auto;
    width: 150px;
}
.logOut_container{
    position: absolute;
    top:20px;
    right: 10px;
    margin: auto;
    width: 150px;
}